{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{- with .imageUrl }}
    <figure class="entry-cover" style="text-align: center;">
        <img src="{{ . }}" alt="{{ site.Params.homeInfoParams.imageTitle | default "avatar" }}"
            style="border-radius: 50%; max-width: 120px;" />
    </figure>
    {{- end }}
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
