{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info" style="text-align: center;">
    {{- with .imageUrl }}
    <figure style="display: flex; justify-content: center; margin: 0 0 1em;">
        <img src="{{ . | absURL }}" alt="{{ site.Params.homeInfoParams.imageTitle | default "avatar" }}"
            style="border-radius: 50%; width: 150px; height: 150px;" />
    </figure>
    {{- end }}
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" "center") }}
    </footer>
</article>
{{- end -}}
